# Created by .ignore support plugin (hsz.mobi)
.gitignore
venv/Include/
venv/Lib/site-packages/MySQLdb/
venv/Lib/site-packages/PyMySQL-0.9.3.dist-info/
venv/Lib/site-packages/__pycache__/
venv/Lib/site-packages/backports/
venv/Lib/site-packages/configparser-5.0.0.dist-info/
venv/Lib/site-packages/configparser.py
venv/Lib/site-packages/mysqlclient-1.4.6.dist-info/
venv/Lib/site-packages/pymysql/
venv/Lib/site-packages/pymysql_utils-2.1.5.dist-info/
venv/Lib/site-packages/pymysql_utils/
!/.idea/
.gitignore
!/files/
